html {
  font-family: serif;
}

header[role=banner],
main[role=main],
footer[role=contentinfo] {
  margin: 1rem 0;
  max-width: max-content;
  padding: 0;
}

nav[role=navigation] {
  display: none;
}
